h1, a, li {
  font-family: Roboto, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 26px;
  /*background: #9b50ba;*/
  color: white;
  padding: 40px 0 40px 20%;
  margin-bottom: 50px;
}

a, li {
  color: #333 !important;
  text-decoration: none;
}

.nav {
  /*margin-left: 20%;*/
  position:absolute;
}
.nav > li {
  display: inline-block;
  padding: 1em 18px;
  cursor: pointer;
}
.nav > li:hover {
  background: #ebebeb;
}

.drop {
  position: relative;
}
.drop ul {
  position: absolute;
  left: 11px;
  top: 97px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  z-index: 1000;
  padding-left: 0px;
  background-color: #ebebeb;
}
.drop ul li {
  display: block;
  width: 100%;
}
.drop ul li a {
  width: 100%;
  padding: 1em 18px;
  display: inline-block;
  white-space: nowrap;
  box-sizing: border-box;
}
.drop ul li a:hover {
  background: #ddd;
  color: #040404 !important;
  font-weight: bold;
}
.drop:hover ul {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.leaflet-control-globe-toggle {
  background-image: url(images/globe-colors.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  position:absolute;
  z-index:999;
  top: 74px;
  left: 8px;
}
